<p>book-list works!</p>
<div *ngIf="books$">
    <table>
        <thead>
            <th>#   |</th>
            <th>Name</th>
            <th>Auther</th>
            <th>Category</th>
            <th>Description</th>
            <th>UPC</th>
            <th>Price</th>
            <th>Publisher</th>
        </thead>
        <tbody>
            <tr *ngFor="let book of books$; let i = index">
                <td>{{i + 1}}</td>
                <td>{{book.name}}</td>
                <td>{{book.auther}}</td>
                <td><p *ngFor="let c of book.category">{{c.title}}</p></td>
                <td>{{book.book_description}}</td>
                <td>{{book.universal_product_code}}</td>
                <td>{{book.price}}</td>
                <td>{{book.publisher}}</td>
                <td>
                    <a type="button" [routerLink]="['../edit', book.id]">Edit</a><br>
                    <a type="button" (click)="deleteBook(book.id)">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>