<p>book-edit works!</p>
<div class="external-wrapper">
    <form *ngIf="bookForm" [formGroup]="bookForm" (ngSubmit)="onSubmit()">
        <p>form</p>
        <div class="fields-wrapper">
            <h3 *ngIf="book_id">{{!success ? 'Edit book details': 'Details edited successfuly'}}</h3>
            <h3 *ngIf="!book_id">{{!success ? 'Add a new book to the list': 'Book added successfuly'}}</h3>
            <hr>
            <label for="name">Name</label>
            <input type="text" id="name" formControlName="name" class="form-control">
            <label for="auther">Auther</label>
            <input type="text" id="auther" formControlName="auther" class="form-control">
            <label for="category">Category</label>
            <select multiple id="category" formControlName="category" class="form-control">
                <option [ngValue]="c.id" *ngFor="let c of category">{{c.title}}</option>
            </select>
            <label for="description">Description</label>
            <input type="text" id="book_description" formControlName="book_description" class="form-control">
            <label for="upc">UPC</label>
            <input type="text" id="universal_product_code" formControlName="universal_product_code" class="form-control">
            <label for="price">Price</label>
            <input type="number" id="price" formControlName="price" class="form-control">
            <label for="publisher">Publisher</label>
            <input type="text" id="publisher" formControlName="publisher" class="form-control">
        </div>
        <button type="submit">Save</button>
    </form>
</div>